@charset "UTF-8";
body.main-page .nav-link {
  position: relative;
  padding-bottom: 0;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
body.main-page .nav-link::after {
  content: "";
  background-color: #fff;
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 10%;
  width: 80%;
  transition: width 0.3s ease-in-out;
}

body.other-pages .nav-link {
  position: relative;
  padding-bottom: 0;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
body.other-pages .nav-link::after {
  content: "";
  background-color: #000;
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 10%;
  width: 80%;
  transition: width 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #343434;
}

p {
  line-height: 1.6;
  margin: 0;
  font-size: 15px;
  color: #748182;
}

.carousel-item {
  transition: transform 0.2s ease, opacity 0.2s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-weight: 500;
}

h1 {
  font-weight: 900 !important;
}

.top-h1 {
  position: relative;
  display: inline-block;
}
.top-h1::after {
  content: "";
  width: 100%;
  height: 10px;
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 0;
}

.btn-cv {
  background-color: #000;
  color: #fff;
  transition: all 0.5s;
}
.btn-cv:hover {
  background-color: #fff;
  color: #000;
}

.btn-contact {
  transition: all 0.5s;
}
.btn-contact:hover {
  background-color: #000;
  color: #fff;
}

.main {
  color: #fff;
  position: relative;
  background-image: url(../imgs/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.main .nav-link {
  position: relative;
  padding-bottom: 0;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.main .nav-link::after {
  content: "";
  background-color: #fff;
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 10%;
  width: 80%;
  transition: width 0.3s ease-in-out;
}
.main .nav-link:not(.active)::after {
  width: 0%;
}
.main .nav-link.active::after {
  width: 80%;
}
.main .main-content .hiding-for-main {
  font-size: 50px;
  font-weight: 800;
}
.main .main-content .span-main {
  font-size: 60px;
  font-weight: 300;
}
.main .main-content .hiding-for-span {
  font-size: 50px;
  font-weight: 150;
}
.main .main-content a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}

#About picture {
  position: relative;
  padding: 0 0 0 67px;
}
#About picture::after {
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  left: 0px;
  bottom: -30px;
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  z-index: -1;
}
#About .title-text {
  position: absolute;
  left: 10px;
}
#About .percentage-text {
  position: absolute;
  right: 10px;
}

#Services {
  background-color: #f7f7f7;
}
#Services .card {
  padding: 50px 20px;
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1) !important;
  background: #fff;
  border-radius: 5px;
}
#Services .card .i-container {
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  transition: all 0.5s;
}
#Services .card:hover .i-container {
  background-color: #000 !important;
  color: #fff !important;
}
#Services .card-text {
  word-spacing: 2px;
  font-size: 14px;
}

#Works .nav-link {
  color: #000;
}
#Works .nav-pills .nav-link {
  position: relative;
  padding-bottom: 5px;
  transition: background-color 0.3s ease-in-out;
}
#Works .nav-pills .nav-link::after {
  content: "";
  background-color: black;
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 20%;
  right: 0;
  width: 0%;
  transition: width 0.3s ease-in-out;
}
#Works .nav-pills .nav-link.active {
  background-color: #fff;
}
#Works .nav-pills .nav-link.active::after {
  width: 60%;
}
#Works .card {
  overflow: hidden;
}
#Works .card .overlay {
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out, gap 0.5s ease-in-out;
  position: absolute;
  top: 5%;
  left: 0;
  opacity: 0;
  gap: 20px;
}
#Works .card:hover .overlay {
  top: 0;
  opacity: 1;
  gap: 0;
}

#Clients {
  background-color: #f7f7f7;
}
#Clients .carousel-indicators [data-bs-target] {
  background-color: #869791;
  width: 10px;
  height: 10px;
  transition: all 0.1s;
}
#Clients .carousel-indicators [data-bs-target]:hover {
  opacity: 1;
}
#Clients picture {
  width: 90px;
  height: 90px;
}

#Statistics .statistics {
  background-color: #fff;
}
#Statistics .statistics .item .icon {
  font-size: 30px;
}
#Statistics .statistics .item h3 {
  font-weight: 900;
}
#Statistics .statistics .item p {
  font-weight: 600;
}

#Team {
  background-color: #f7f7f7;
}
#Team .card img {
  transition: all 0.5s;
}
#Team .card .card-body {
  background-color: rgba(52, 52, 52, 0.8);
}
#Team .card .card-body h5 {
  text-transform: uppercase !important;
  font-weight: bold !important;
}
#Team .card .card-img-layer:hover img {
  transform: scale(1.2);
  cursor: pointer;
}
#Team .card .overlay {
  width: 90%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  text-align: center;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  opacity: 0;
  transition: 0.5s;
  transform: rotateY(180deg) scale(0.5, 0.5);
}
#Team .card:hover .overlay {
  cursor: pointer;
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
}

#Contact .contact-container h6 {
  font-weight: 700;
  margin-bottom: 10px;
}
#Contact .contact-container .btn-contact {
  transition: all 0.5s;
}
#Contact .contact-container:hover .btn-contact {
  background-color: #000;
  color: #fff;
  pointer-events: none;
}

.carousel-control-next-icon {
  background-image: url("../imgs/forward-solid.svg"); /* ضع مسار الأيقونة هنا */
  width: 50px;
  height: 50px;
  background-size: contain;
}

.carousel-control-prev-icon {
  background-image: url("../imgs/forward-solid.svg"); /* ضع مسار الأيقونة هنا */
  width: 50px;
  height: 50px;
  background-size: contain;
  rotate: 180deg;
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  filter: none;
}/*# sourceMappingURL=style.css.map */